*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #7e7e7e;
  padding: 3rem;
  box-sizing: border-box; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(108, 171, 216, 0.7), rgba(13, 129, 212, 0.7)), url(../images/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 72vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 4rem; }
  .header__text-box {
    position: absolute;
    text-align: center;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%); }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5.6rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 5.4rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation: moveFromRight 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.85rem;
    animation: moveFromLeft 1s ease-out; }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  75% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  75% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(2.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn:link, .btn:visited {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.6rem 4.2rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  transition: all 0.3s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.25); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.7);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.25); }

.btn--white {
  background-color: #fff;
  color: #7e7e7e;
  font-weight: 600; }
  .btn--white::after {
    background-color: rgba(255, 255, 255, 0.75); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s; }

.btn--animated {
  animation: moveFromBottom 0.5s ease-out 0.5s;
  animation-fill-mode: backwards; }
