/*
COLORS:

Light blue: #6cabd8
Medium blue: #3d91ce
Dark blue: #0d81d4

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.6;
  color: #c9c9c9;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(110, 172, 216, 0.7),
      rgba(13, 129, 212, 0.7)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 72vh, 0 100%);
}

.logo-header {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 40px;
}

.text-box {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 54px;
  font-weight: 400;
  letter-spacing: 30px;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 18.5px;
}
