// COLORS
$color-primary: #3d91ce;
$color-primary-light: #6cabd8;
$color-primary-dark: #0d81d4;

$color-secondary-light: #e739f7;
$color-secondary-dark: #9824b8;

$color-tertiary-light: #30e666;
$color-tertiary-light: #13a43f;

$color-grey-dark: #7e7e7e;
$color-grey-light-1: #f4f4f4;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
